<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Autores</title>
</head>
<body>
<h2>Lista de Autores</h2>

<ul>
    <div th:each="entry : ${autores}">
        <li>
            <h4>
                <span th:text="${entry.name}">Name</span>
            </h4>
            <a>Editar</a>
        </li>
    </div>
</ul>
<a href="/autores/insertar" method="get">Insertar</a>
</body>
</html>