<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta content="text/html" http-equiv="Content-Type"></meta>
    <title>Categorias</title>
</head>
<body>
<h2>Lista de Categorias</h2>

<ul>
    <div th:each="entry : ${categorias}">
        <li>
            <h4>
                <span th:text="${entry.name}">Name</span>
            </h4>
            <a th:href="@{/categorias/{id}(id=${entry.id})}" method="get">Editar</a>
            <a th:href="@{/categorias/delete/{id}(id=${entry.id})}" method="post">Eliminar</a>
        </li>
    </div>
</ul>
<a href="/categorias/insertar" method="get">Insertar</a>
<div>
    <a href="/">Regresar</a>
</div>
</body>
</html>