<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Workshop</title>
</head>
<body>
<h1>Crear Workshop</h1>
<form action="#" method="post" th:action="@{/workshops/insertar}" th:object="${workshop}">
    <label for="name">Nombre</label>
    <input id="name" th:field="*{name}" type="text"><br>
    <label for="objective">Objetivo</label>
    <input id="objective" th:field="*{objective}" type="text"><br>
    <label for="keywords">Palabras Clave</label>
    <input id="keywords" th:field="*{keywords}" type="text">
    <label for="autor">Autor</label>
    <select id="autor">
        <option value="Eduardo">Eduardo</option>
        <option value="Carlos">Carlos</option>
        <option value="Mario">Mario</option>
        <option value="Paola">Paola</option>
    </select>
    <div>
        <label for="categoria">Categoria</label>
        <select id="categoria" th:field="*{categoria}">
            <option th:each="categoria : ${categorias}" th:text="${categoria.name}" th:value="${categoria.id}"></option>
        </select>
    </div>
    <br>
    <input type="submit" value="Agregar Workshop">
</form>
<div>
    <a href="/">Regresar</a>
</div>
</body>
</html>