<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Workshop</title>
</head>
<body>
<h1>Editar Workshop</h1>
<form action="#" method="post" th:action="@{/workshops/{id}(id=${workshop.id})}" th:object="${workshop}">
    <label for="name">Nombre</label>
    <input id="name" th:field="*{name}" type="text"><br>
    <label for="description">Descripcion</label>
    <input id="description" th:field="*{description}" type="text"><br>
    <label for="objective">Objetivo</label>
    <input id="objective" th:field="*{objective}" type="text"><br>
    <label for="keywords">Palabras Clave</label>
    <input id="keywords" th:field="*{keywords}" type="text">
    <label for="autor">Autor</label>
    <select id="autor">
        <option th:value="Eduardo">Eduardo</option>
        <option th:value="Carlos">Carlos</option>
        <option th:value="Mario">Mario</option>
        <option th:value="Paola">Paola</option>
    </select>
    <div>
        <label for="categoria">Categoria</label>
        <select id="categoria" th:field="*{categoria}">
            <option th:each="categoria : ${categorias}" th:text="${categoria.name}" th:value="${categoria.id}"></option>
        </select>
    </div>
    <br>
    <input type="submit" value="Guardar Cambios">
</form>
<div>
    <a href="/">Regresar</a>
</div>
</body>
</html>