<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table id="table_id" class="display">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Objetivo</th>
        <th>Categoria</th>
        <th>Keyword</th>
        <th>duracionTotal</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Row 1 Data 1</td>
        <td>Row 1 Data 2</td>
    </tr>
    <tr>
        <td>Row 2 Data 1</td>
        <td>Row 2 Data 2</td>
    </tr>
    </tbody>
</table>
</body>
</html>