<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
    <meta content="text/html" http-equiv="Content-Type"></meta>
    <title>Workshops</title>
</head>
<body>
<h2>Lista de Workshops</h2>

<ul>
    <div th:each="entry : ${workshops}">
        <li>
            <h4>
                <span th:text="${entry.name}">Name</span>
            </h4>
            <label for="description">Description:</label>
            <span id="description" th:text="${entry.description}">Description</span>
            <br>
            <!--            <a th:href="@{/listar/{id}(id=${entry.id}}">Editar</a>-->
        </li>
    </div>
</ul>
<a href="/workshops/insertar" method="get">Insertar</a>
<div>
    <a href="/">Regresar</a>
</div>
</body>
</html>