<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta http-equiv="Content-Type" content="text/html"></meta>
<title>Workshops</title>
</head>
<body>
<h2>Lista de Workshops</h2>

<ul>
    <div th:each="entry : ${workshops}">
        <li>
            <h4>
                <span th:text="${entry.name}">Name</span>
            </h4>
<!--            <label for="description">Description:</label>-->
<!--            <span id="description" th:text="${entry.description}">Description</span>-->
            <br>
<!--            <label for="creation">Date Created:</label>-->
<!--            <span id="creation" th:text="${entry.creation}">Created</span>-->
<!--            <a th:href="@{/listar/{id}(id=${entry.id}}">Editar</a>-->
        </li>
    </div>
</ul>
<a href="/workshops/insertar" method="get">Insertar</a>
</body>
</html>